<html>
<body style="text-align:center;color:red;font-size:80px">
    <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/postImage">
        what ur email <br />
        <input id="email" name="email" style="text-align:center;color:red;font-size:50px"/>
        <br /> <br />
        choose pano or other image <br /> <br />
        <input id="fileupload" name="myfile" type="file" style="text-align:center;color:red;font-size:20px"/>
        <br /> <br />
        tap me real good to get ur video e-mailed to u
        <br />
        <input type="submit" value="submit me bb" id="submit" style="text-align:center;color:red;font-size:50px"/>
     </form>
</body>
</html>